$brand-light: #fff;
$brand-dark-red: #8f0001;
$brand-dark: #343434;
$brand-light-red: #c01111;
$brand-cyan: #0a9bb1;
$brand-cyan-light: #3abcb2;
$brand-gold: #f29e4a;
$brand-danger: #ac0000;

$body-bg-color: #f9f9f9;

$padding-sizes: 0 10 20;
$margin-sizes: 0 10 20;
